@font-face {
  font-family: 'Rubik-Iso';
  src: url('~@/assets/fonts/Rubik_Iso/RubikIso-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik-Dirt';
  src: url('~@/assets/fonts/Rubik_Dirt/RubikDirt-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Rubik';
  src: url('~@/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('~@/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
